
div {
  display:block;
  text-align:center;
  padding: 20px 20px 20px 20px;
  margin:0px;
  background: #38321e;
  color: white;
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 200px;
}
button {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}
.markedItem {
  text-decoration: line-through;
  color: #aaa;
}

